<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/burger_style.css" type="text/css" />
		<title>MVC With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body background="/img/8291.jpg">
		{{{ body }}}
	</body>
</html>
