<h1>Burgers!</h1>

<h2>Burgers I have yet to eat:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{ burger_name }}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{ burger_name }}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger:</h2>
<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <label for="bu">Burger name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <button type="submit">Add burger!</button>
</form>

<script>
  $(".create-form").on("submit", function(event)  {
    event.preventDefault();
    var newBurg = {
      name: $("#bu").val().trim(),
    };
  $.ajax("/api/burgers", {
    type: "POST",
    data: newBurg
  }).then(
    function()  {
      console.log("created new burger");
      location.reload();
    }
  )
})
</script>
