<h1>Burgers!</h1>

<h2>Burgers I have yet to eat:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{ burger_name }} 
      	<button class="eat-burg" data-id="{{id}}">
		      Eat me!
	      </button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{ burger_name }}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger:</h2>
<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <label for="bu">Burger name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <button type="submit">Add burger!</button>
</form>

<script>
  $(".create-form").on("submit", function(event)  {
    event.preventDefault();
    var newBurg = {
      name: $("#bu").val().trim(),
    };
  $.ajax("/api/burgers", {
    type: "POST",
    data: newBurg
  }).then(
    function()  {
      console.log("created new burger");
      location.reload();
    }
  )
})

  $(".eat-burg").on("click", function(event) {
    var id = $(this).data("id");

    var devouredState = {
      devoured: 1
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: devouredState
    }).then(
      function() {
        console.log("Devoured a burger with an id of: " + id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
