body {
  font-family: "Lobster", cursive;
  background-size: 25%;
}

ul {
  padding-inline-start: 0px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#title {
  margin: auto;
  width: 50%;
  text-align: center;
}

#uneaten {
  display: inline-block;
  right: 30px;
  width: 33%;
  border: 2px solid black;
  background: white;
  text-align: center;
}

#eaten {
  /* display: inline-block; */
  width: 33%;
  border: 2px solid black;
  background: white;
  text-align: center;
  float: right;
}

#burgAdd {
  position: absolute;
  margin: auto;
  width: 33%;
  padding: 5px;
  border: 2px solid black;
  background: white;
  text-align: center;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}
