body {
  font-family: "Lobster", cursive;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#title {
  margin: auto;
  width: 50%;
  text-align: center;
}

#uneaten {
  /* float: left; */
}

#eaten {
  /* float: right; */
}

#burgAdd {
  margin: auto;
  width: 50%;
}
