body {
  font-family: "Lobster", cursive;
  background-size: 25%;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#title {
  margin: auto;
  width: 50%;
  text-align: center;
}

#uneaten,
#eaten {
  display: inline-block;
  width: 33%;
}

#burgAdd {
  position: absolute;
  margin: auto;
  width: 99%;
  text-align: center;
  bottom: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}
